<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <link rel="stylesheet" th:href="@{~/css/font-awesome.min.css}">

</head>
<body>


<body class="theme-orange">

<div th:replace="fragments/admindashboard.html :: topnav"></div>
<div th:replace="fragments/admindashboard.html :: sidenav"></div>



<div class="overlay"></div>
<div id="wrapper">



    <div id="main-content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h2>Add Product</h2>
                </div>
                <div class="col-md-6 col-sm-12">
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">

                        <div class="body">
                            <form id="basic-form" method="post" novalidate>
                                <div class="form-group col-lg-8 col-md-12">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control col-lg-5 col-md-12" required>
                                </div>
                                <div class="form-group col-md-12 col-lg-4">
                                    <label>Product Price</label>
                                    <input type="Number" class="form-control" required>
                                </div>
                                <div class="form-group col-md-12 col-lg-4">
                                    <label>Product Quantity</label>
                                    <input type="Number" class="form-control" required>
                                </div>
                                <div class="form-group col-md-12 col-lg-4">
                                    <label>Product Size</label>
                                    <input type="Number" class="form-control" required>
                                </div>
                                <div class="form-group col-md-12 col-lg-4">
                                    <label>Product Quantity</label>
                                    <input type="Number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Product Image</label>
                                    <input type="File" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="5" cols="30" required></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Validate</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script>
<script src="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="../assets/vendor/parsleyjs/js/parsley.min.js"></script>
<script src="assets/bundles/mainscripts.bundle.js"></script>
<script>
    $(function() {
        // validation needs name of the element
        $('#food').multiselect();

        // initialize after multiselect
        $('#basic-form').parsley();
    });
</script>
</body>

</body>
</html>