
<html>
    <head>
      <title>Orders | Kinmel</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/font-awesome.min.css">

      <link rel="stylesheet" href="../static/css/main.css">
      <link rel="stylesheet" href="assets/css/color_skins.css">
    </head>
    <body class="theme-orange">
      
      <div id="wrapper">
        <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-left">
              <div class="navbar-btn">
                <a href="index.html">
                  <img src="#" alt="Logo" class="img-fluid logo">
                </a>
                <button type="button" class="btn-toggle-offcanvas">
                  <i class="lnr lnr-menu fa fa-bars"></i>
                </button>
              </div>
              <a href="javascript:void(0);" class="icon-menu btn-toggle-fullwidth">
                <i class="fa fa-arrow-left"></i>
              </a>
             
            </div>
            <div class="navbar-right">
       
              <div id="navbar-menu">
                <ul class="nav navbar-nav">
                  <li class="dropdown dropdown-animated scale-left">
                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                      <i class="fa fa-envelope"></i>
                      <span class="notification-dot"></span>
                    </a>
                    <ul class="dropdown-menu right_chat email">
                      <li>
                        <a href="javascript:void(0);">
                          <div class="media">
                            <img class="media-object " src="#" alt="User Img">
                            <div class="media-body">
                              <span class="name">James Wert <small class="float-right">Just now</small>
                              </span>
                              <span class="message">Lorem ipsum Veniam aliquip culpa laboris minim tempor</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      
                 
                    </ul>
                  </li>
                  <li class="dropdown dropdown-animated scale-left">
                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                      <i class="fa fa-bell"></i>
                      <span class="notification-dot"></span>
                    </a>
                    <ul class="dropdown-menu feeds_widget">
                      <li class="header">You have 1 new Notifications</li>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="feeds-left">
                            <i class="fa fa-thumbs-o-up text-success"></i>
                          </div>
                          <div class="feeds-body">
                            <h4 class="title text-success">7 New Feedback <small class="float-right text-muted">Today</small>
                            </h4>
                            <small>It will give a smart finishing to your site</small>
                          </div>
                        </a>
                      </li>
                     
             
                    </ul>
                  </li>
  
                  <li>
                    <a href="page-login.html" class="icon-menu">
                      <i class="fa fa-power-off"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      
        <div id="left-sidebar" class="sidebar">
          <div class="navbar-brand">
            <a href="index.html">
              <img src="../static/img/logo-white-text.png" alt="Logo" class="img-fluid">
             
            </a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm btn-default float-right">
              <i class="lnr lnr-menu fa fa-chevron-circle-left"></i>
            </button>
          </div>
          <div class="sidebar-scroll">
            <div class="user-account">
              <div class="user_div">
                <img src="../assets/images/user.png" class="user-photo" alt="User Profile Picture">
              </div>
              <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown">
                  <strong>Swopnil Bista</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-right account">
                  <li>
                    <a href="page-profile.html">
                      <i class="fa fa-user"></i>My Profile </a>
                  </li>
                  <li>
                    <a href="app-inbox.html">
                      <i class="fa fa-envelope"></i>Messages </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="page-login.html">
                      <i class="fa fa-power-off"></i>Logout </a>
                  </li>
                </ul>
              </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
              <ul id="main-menu" class="metismenu">
                <li>
                  <a href="index.html">
                    <i class="fa fa-home"></i>
                    <span>Orders</span>
                  </a>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
        <div id="main-content">
          <div class="block-header">
            <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                <h2>Order Table</h2>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            
            <div class="row clearfix">
              
              <div class="col-md-12">
                <div class="card">
                  
                  <div class="body">
                    <div class="table-responsive">
                      <table class="table center-aligned-table">
                        <thead>
                          <tr>
                            <th>Order No</th>
                            <th>User Name</th>
                            <th>Purchased On</th>
                            <th>Shipping Status</th>
                            <th>Payment Method</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Q01</td>
                            <td>User 1</td>
                            <td>12 Jan 2022</td>
                            <td>Dispatched</td>
                            <td>Credit card</td>
                           
                            <td>
                              <a href="invoice.html" class="btn btn-success btn-sm">View Order</a>
                            </td>
                            
                          </tr>
                          <tr>
                            <td>Q02</td>
                            <td>User 8</td>
                            <td>18 Jan 2022</td>
                            <td>Pending</td>
                            <td>Internet banking</td>
                            
                            <td>
                              <a href="invoice.html" class="btn btn-success btn-sm">View Order</a>
                            </td>
                            
                          </tr>
                          <tr>
                            <td>Q03</td>
                            <td>User 52</td>
                            <td>22 Feb 2022</td>
                            <td>Cancelled</td>
                            <td>Credit card</td>
                            
                            <td>
                              <a href="invoice.html" class="btn btn-success btn-sm">View Order</a>
                            </td>
                            
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="../static/js/libscripts.bundle.js"></script>
      <script src="../static/js/vendorscripts.bundle.js"></script>
      <script src="../static/js/mainscripts.bundle.js"></script>
      <script>
        $('.sparkbar').sparkline('html', {
          type: 'bar'
        });
      </script>
    </body>
</html>