  <div class="footer-top" th:fragment="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-logo">
            <img th:src="@{~/img/logo-white-text.png}" alt="" />
            <p>Kinmel is the platform that you are bound to visit for your clothing needs. <br />It is our topmost priority to make sure that the customers are satisfied. </p>
            <div class="widget-icon">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-vimeo-square"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-top-area start -->
  <div class="footer-top-area" th:fragment="footer-top-area">
    <div class="container">
      <div class="row">
        <!-- footer-widget start -->
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="footer-widget">
            <h3>CONTACT US</h3>
            <ul class="footer-contact">
              <li>
                <i class="fa fa-map-marker"> </i>
                Addresss: Softwarica College, Dillibazar, Kathmandu
              </li>
              <li>
                <i class="fa fa-envelope"> </i>
                Email: <a href="#" class="__cf_email__" data-cfemail="">kinmel@gmail.com</a>
              </li>
              <li>
                <i class="fa fa-phone"> </i>
                Phone: +977 9800000000
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-widget end -->
        <!-- footer-widget start -->
        <div class="col-lg-3 col-md-3 hidden-sm">
          <div class="footer-widget">
            <h3>My account</h3>
            <ul class="footer-menu">
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Sign-up</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>
        </div>
        <!-- footer-widget end -->
        <!-- footer-widget start -->
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="footer-widget">
            <h3>about us</h3>
            <ul class="footer-menu">
              <li><a href="#">Delivery</a></li>
              <li><a href="#">Payment</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- footer-widget end -->
        <!-- footer-widget start -->
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="footer-widget">
            <h3>Product tags</h3>
            <div class="product-tag">
              <ul>
                <li><a href="#">Top</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Collection</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">men</a></li>
                <li><a href="#">gallery</a></li>
                <li><a href="#">new</a></li>
                <li><a href="#">Collection men</a></li>
                <li><a href="#">Top</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Collection</a></li>
                <li><a href="#">best</a></li>
                <li><a href="shop.html">cloth</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- footer-widget end -->
      </div>
    </div>
  </div>
  <!-- footer-top-area end -->
  <!-- footer-bottom-area start -->
  <div class="footer-bottom-area" th:fragment="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="copyright">
            <p>Copyright © <a href="#">Kinmel</a>. All Rights Reserved</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="payment-img">
            <img th:src="@{~/img/payment.png}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom-area end -->