<div class="mobile-menu-area visible-xs visible-sm" th:fragment="mobile-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
              <li><a th:href="@{~/dashboard}">Home</a></li>
              <li><a th:href="@{~/about}">About</a></li>
              <li><a th:href="@{~/blogs}">Blog</a></li>
              <li><a th:href="@{~/shop}">Shop</a></li>
              <li><a th:href="@{~/contact}">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>