<div class="mobile-menu-area visible-xs visible-sm" th:fragment="mobile-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
              <li><a href="index.html">Home</a>

              </li>
              <li><a href="about.html">About</a></li>
              <li><a href="blog.html">blog</a></li>
              <li><a href="shop.html">Shop</a>
                <ul>
                  <li><a href="#">WOMEN CLOTH</a>
                    <ul>
                      <li><a href="shop.html">casual shirt</a></li>
                      <li><a href="shop.html">rikke t-shirt</a></li>
                      <li><a href="shop.html">mia top </a></li>
                      <li><a href="shop.html">muscle tee</a></li>
                    </ul>
                  </li>
                  <li><a href="#">MEN CLOTH</a>
                    <ul>
                      <li><a href="shop.html">casual shirt</a></li>
                      <li><a href="shop.html">rikke t-shirt</a></li>
                      <li><a href="shop.html">mia top </a></li>
                      <li><a href="shop.html">muscle tee</a></li>
                    </ul>
                  </li>
                  <li><a href="#">WOMEN JEWELRY</a>
                    <ul>
                      <li><a href="shop.html">necklace </a></li>
                      <li><a href="shop.html">chunky short striped</a></li>
                      <li><a href="shop.html">samhar cuff </a></li>
                      <li><a href="shop.html">nail set</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="shop.html">Footwear </a></li>

              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>