.drupal-bg{
    background-color:#0077c0!important
}
.drupal-bg:hover,.drupal-bg:focus{
    background-color:#0067a7!important
}
.elance-bg{
    background-color:#0d69af!important
}
.elance-bg:hover,.elance-bg:focus{
    background-color:#0b5b97!important
}
.envato-bg{
    background-color:#82b541!important
}
.envato-bg:hover,.envato-bg:focus{
    background-color:#75a23a!important
}