@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@font-face{
    font-family:simple-line-icons;
    src:url(../fonts/simple-Line-Icons.eot);
    src:url(../fonts/simple-Line-Icons.eot) format("embedded-opentype"),url(../fonts/simple-Line-Icons.woff) format("woff"),url(../fonts/simple-Line-Icons.ttf) format("truetype"),url(../fonts/simple-Line-Icons.svg#Simple-Line-Icons) format("svg");
    font-weight:400;
    font-style:normal
}
[data-icon]:before{
    font-family:simple-line-icons;
    content:attr(data-icon);
    speak:none;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:17px
}
@font-face{
    font-family:weathericons;
    src:url(../fonts/weathericons-regular-webfont.eot);
    src:url(../fonts/weathericons-regular-webfontd41d.eot?#iefix) format("embedded-opentype"),url(../fonts/weathericons-regular-webfont.woff) format("woff"),url(../fonts/weathericons-regular-webfont.ttf) format("truetype"),url(../fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg) format("svg");
    font-weight:400;
    font-style:normal
}
.wi{
    display:inline-block;
    font-family:weathericons;
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.wi-day-cloudy-gusts:before{
    content:"\f000"
}
.wi-day-cloudy-windy:before{
    content:"\f001"
}
.wi-day-cloudy:before{
    content:"\f002"
}
.wi-day-fog:before{
    content:"\f003"
}
.wi-day-hail:before{
    content:"\f004"
}
.wi-day-lightning:before{
    content:"\f005"
}
.wi-day-rain-mix:before{
    content:"\f006"
}
.wi-day-rain-wind:before{
    content:"\f007"
}
.wi-day-rain:before{
    content:"\f008"
}
.wi-day-showers:before{
    content:"\f009"
}
.wi-day-snow:before{
    content:"\f00a"
}
.wi-day-sprinkle:before{
    content:"\f00b"
}
.wi-day-sunny-overcast:before{
    content:"\f00c"
}
.wi-day-sunny:before{
    content:"\f00d"
}
.wi-day-storm-showers:before{
    content:"\f00e"
}
.wi-day-thunderstorm:before{
    content:"\f010"
}
.wi-cloudy-gusts:before{
    content:"\f011"
}
.wi-cloudy-windy:before{
    content:"\f012"
}
.wi-cloudy:before{
    content:"\f013"
}
.wi-fog:before{
    content:"\f014"
}
.wi-hail:before{
    content:"\f015"
}
.wi-lightning:before{
    content:"\f016"
}

.wi-rain-mix:before{
  content:"\f017"
}
.wi-rain-wind:before{
  content:"\f018"
}
.wi-rain:before{
  content:"\f019"
}
.wi-showers:before{
  content:"\f01a"
}
.wi-snow:before{
  content:"\f01b"
}
.wi-sprinkle:before{
  content:"\f01c"
}
.wi-storm-showers:before{
  content:"\f01d"
}
.wi-thunderstorm:before{
  content:"\f01e"
}
.wi-windy:before{
  content:"\f021"
}
.wi-night-alt-cloudy-gusts:before{
  content:"\f022"
}
.wi-night-alt-cloudy-windy:before{
  content:"\f023"
}
.wi-night-alt-hail:before{
  content:"\f024"
}
.wi-night-alt-lightning:before{
  content:"\f025"
}
.wi-night-alt-rain-mix:before{
  content:"\f026"
}
.wi-night-alt-rain-wind:before{
  content:"\f027"
}
.wi-night-alt-rain:before{
  content:"\f028"
}

.wi-night-alt-showers:before{
  content:"\f029"
}
.wi-night-alt-snow:before{
  content:"\f02a"
}
.wi-night-alt-sprinkle:before{
  content:"\f02b"
}
.wi-night-alt-storm-showers:before{
  content:"\f02c"
}
.wi-night-alt-thunderstorm:before{
  content:"\f02d"
}
.wi-night-clear:before{
  content:"\f02e"
}
.wi-night-cloudy-gusts:before{
  content:"\f02f"
}
.wi-night-cloudy-windy:before{
  content:"\f030"
}
.wi-night-cloudy:before{
  content:"\f031"
}
.wi-night-hail:before{
  content:"\f032"
}
.wi-night-lightning:before{
  content:"\f033"
}
.wi-night-rain-mix:before{
  content:"\f034"
}
.wi-night-rain-wind:before{
  content:"\f035"
}
.wi-night-rain:before{
  content:"\f036"
}
.wi-night-showers:before{
  content:"\f037"
}
.wi-night-snow:before{
  content:"\f038"
}
.wi-night-sprinkle:before{
  content:"\f039"
}
.wi-night-storm-showers:before{
  content:"\f03a"
}
.wi-night-thunderstorm:before{
  content:"\f03b"
}
.wi-celsius:before{
  content:"\f03c"
}
.wi-cloud-down:before{
  content:"\f03d"
}
.wi-cloud-refresh:before{
  content:"\f03e"
}
.wi-cloud-up:before{
  content:"\f040"
}
.wi-cloud:before{
  content:"\f041"
}
.wi-degrees:before{
  content:"\f042"
}
.wi-down-left:before{
  content:"\f043"
}
.wi-down:before{
  content:"\f044"
}
.wi-fahrenheit:before{
  content:"\f045"
}
.wi-horizon-alt:before{
  content:"\f046"
}
.wi-horizon:before{
  content:"\f047"
}
.wi-left:before{
  content:"\f048"
}
.wi-lightning:before{
  content:"\f016"
}
.wi-night-fog:before{
  content:"\f04a"
}