.drupal-bg{
    background-color:#0077c0!important
}
.drupal-bg:hover,.drupal-bg:focus{
    background-color:#0067a7!important
}
.elance-bg{
    background-color:#0d69af!important
}
.elance-bg:hover,.elance-bg:focus{
    background-color:#0b5b97!important
}
.envato-bg{
    background-color:#82b541!important
}
.envato-bg:hover,.envato-bg:focus{
    background-color:#75a23a!important
}
.etsy-bg{
    background-color:#d5641c!important
}
.etsy-bg:hover,.etsy-bg:focus{
    background-color:#be5919!important
}
.facebook-bg{
    background-color:#3b5998!important
}
.facebook-bg:hover,.facebook-bg:focus{
    background-color:#344e86!important
}
.feedly-bg{
    background-color:#2bb24c!important
}
.feedly-bg:hover,.feedly-bg:focus{
    background-color:#269d43!important
}
.flattr-bg{
    background-color:#f67c1a!important
}
.flattr-bg:hover,.flattr-bg:focus{
    background-color:#ed6f09!important
}
.flickr-bg{
    background-color:#0063dc!important
}
.flickr-bg:hover,.flickr-bg:focus{
    background-color:#0058c3!important
}
.flipboard-bg{
    background-color:#e12828!important
}
.flipboard-bg:hover,.flipboard-bg:focus{
    background-color:#d21d1d!important
}
.flixster-bg{
    background-color:#2971b2!important
}
.flixster-bg:hover,.flixster-bg:focus{
    background-color:#24649d!important
}
.foursquare-bg{
    background-color:#0732a2!important
}
.foursquare-bg:hover,.foursquare-bg:focus{
    background-color:#062a8a!important
}
.github-bg{
    background-color:#333!important
}
.github-bg:hover,.github-bg:focus{
    background-color:#262626!important
}
.google-bg{
    background-color:#4285f4!important
}
.google-bg:hover,.google-bg:focus{
    background-color:#2a75f3!important
}
.google-plus-bg{
    background-color:#dc4e41!important
}
.google-plus-bg:hover,.google-plus-bg:focus{
    background-color:#d83a2b!important
}
.instagram-bg{
    background-color:#3f729b!important
}
.instagram-bg:hover,.instagram-bg:focus{
    background-color:#386589!important
}
.kickstarter-bg{
    background-color:#2bde73!important
}
.kickstarter-bg:hover,.kickstarter-bg:focus{
    background-color:#20cf67!important
}
.kik-bg{
    background-color:#82bc23!important
}
.kik-bg:hover,.kik-bg:focus{
    background-color:#73a71f!important
}