@media (min-width: 1200px) and (max-width: 1500px) {

.slide-height {

	padding: 240px 0;

}



}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {

.banner-caption h2 {

  font-size: 22px;

}

.category-area-3 .product-content h3 {

  font-size: 16px;

}

.category-area-3 .product-content {

  padding-top: 5px;

}

.contact-method h2, .message-title h1 {

  font-size: 17px;

}

.shop-tab ,.short-by,.shop-breadcrumb{

  width: 33.33%;

}

.shop-show {

  display: none;

}

.price_slider_amount > input[type="text"] {

  margin-left: 6px;

  width: 116px;

}

.single-testimonial p {

	padding: 0 50px;

}





}





/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {

.slide1-text {

  top: 63%;

}

.upcoming-content > p {

  display: none;

}

.upcoming-content .price span {

  font-size: 30px;

}

.product-tag ul li a {

  padding: 5px 9px;

}

.blog-page-main {

  margin-top: 40px;

}

.blog-page-main .col-md-4:nth-last-child(-n+3) {

  margin-bottom: 30px;

}

.blog-right-sidebar .blog-page-main{margin-bottom:40px}

.contact-info {

  margin-top: 25px;

}

.login-margin {

  margin-top: 20px;

}

.related-curosel{margin-bottom:40px}

.shop-right-side{margin-top:40px}

.blog-page-main .col-md-4:nth-last-child(-n+3) {

  margin-bottom: 0;

}

.slide-height {

	padding: 200px 0;

}

.slide-content h1 {

	font-size: 55px;

}

.single-testimonial p {

	padding: 0 50px;

}


}


/* small mobile :320px. */

@media (max-width: 767px) {

.container {width:300px}

header {

  position: static;

  background: #2d2d2d none repeat scroll 0 0;

}

.header-bottom-area {

  background: #2D2D2D;

}

.cap-title h1 {

  font-size: 24px;

}

.marg-20 {

  margin-top: 0;

}

.single-banner {

  margin-bottom: 20px;

}

.upcoming-content {

  margin-top: 20px;

}

ul.footer-contact li:last-child {

  margin: 0;

  padding: 0;

}

.footer-top-area .col-lg-3{margin-bottom:30px}

.footer-top-area .col-lg-3:last-child{margin-bottom:0px}

.footer-bottom-area {

  text-align: center;

}

.payment-img {

  float: none;

  margin-top: 20px;

}

.header-form {

  right: -50px;

  width: 250px;

  z-index: 99;

}

.banner-caption h2 {

  font-size: 20px;

}

.timer .cdown {

  font-size: 18px;

  height: 80px;

  width: 55px;

}

.timer .time-count {

  padding-top: 12px;

}

.single-brand {

  text-align: center;

}

.nivo-directionNav a {

  width: 30px;

}

.slider-container:hover .nivo-prevNav{left:20px}

.slider-container:hover .nivo-nextNav{right:20px}

.category-area-3 .product-action {

  display: none;

}

.category-area-3 .col-md-4{margin-bottom:20px}

.category-area-3 .col-md-4:last-child{margin-bottom:20px}

.breadcrumb-area {

  padding: 70px 0;

}

.team-area .col-md-3{margin-bottom:20px}

.team-area .col-md-3:last-child{margin-bottom:0;}

.blog-page-main {

  margin-top: 40px;

}

.blog-page-main .col-md-4:nth-last-child(-n+3) {

  margin-bottom: 30px;

}

.blog-right-sidebar .blog-page-main{margin-bottom:40px}

.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {

	padding: 0 8px;

	margin-bottom: 10px;

}

.buttons-cart {

  margin-top: 15px;

}

p.checkout-coupon input[type="text"] {

  width: 145px;

}

.ship-different-title h3 label {

  font-size: 22px;

}

.your-order {

  padding: 30px 10px 45px;

}

.single-contact {

  padding: 38px 14px;

}

.contact-method h2, .message-title h1 {

  font-size: 16px;

}

.contact-info {

  margin-top: 20px;

}

.login-margin {

  margin-top: 20px;

}

.social-sign a.twitter {

  margin-top: 10px;

}

.login-lost span.forgot-login {

  display: block;

  float: none;

  margin-bottom: 14px;

}

.button-cart button {

  padding: 0 7px;

}

.related-curosel{margin-bottom:40px}

.shop-tab ,.shop-breadcrumb{

  width: 50%;

}

.short-by ,.shop-show{

  display: none;

}

.shop-content {

  margin-top: 40px;

}

.shop-list .product-img {

  width: 100%;

}

.shop-list .product-content {

  padding-left: 5px;

  width: 100%;

}

.shop-full .shop-content {

  margin-top: 0px;

}

.shop-right-side{margin-top:40px}

.blog-page-main .col-md-4:nth-last-child(-n+3) {

  margin-bottom: 0;

}



.slide-height {

	padding: 100px 0;

}

.slide-content h1 {

	font-size: 33px;

}

.single-testimonial p {

	padding: 0 0;

}







}



/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.container {width:450px}

 .header-form {

  right: 0px;

  width: 350px;

}

.cap-title h1 {

  font-size: 30px;

}

.category-area-3 .product-action {

  display: block;

}

.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {

  padding: 0 15px;

}

.login-lost span.forgot-login {

  display: inline-block;

  float: right;

  margin-bottom: 14px;

}


}


/* for edit profile */

@media screen and (max-width : 1250px) {
  .editProfile-container {
      width: 1000px;
  }
}

@media screen and (max-width: 1080px) {
  .editProfile-container{
    width: 880px;
    height: 125vh;
  }

  /* .editProfile-container .leftSection {
    display: inline-block;
    width: 95%;
    text-align: center;
    height: 40%;
    margin-left: 10px;
    margin-top: 15px;
  }

  .editProfile-container .rightSection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 15px;
  } */

}

@media screen and (max-width: 960px) {

  .editProfile-container{
    width: 680px;
    height: 125vh;
  }

    .editProfile-container .leftSection {
    display: inline-block;
    width: 95%;
    text-align: center;
    height: 40%;
    margin-left: 10px;
    margin-top: 15px;
  }

  .editProfile-container .rightSection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 15px;
  }
  
}
@media screen and (max-width: 735px) {
  .editProfile-container{
    width: 580px;
    height: 125vh;
  }
}









